.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main_app {
  width: 100%;
  min-height: 100vh;
  background: #ffffff; /* white background */
  font-family: var(--app-font-family);
}

/* For Tablets & Laptops */
@media (min-width: 768px) {
  .main_app {
    max-width: 392px;
    margin: 0 auto; /* centers it */
    background: #ffffff;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  body {
    background: #eeeef1; /* keep outer screen area white */
  }
}
